<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <div class="k-banner" style="background-image: url(<%= image_path "cocktail-navbar.jpg" %>);">
      <div class="banner-content">
        <h1>Cocktailme</h1>
        <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-md-4" id="card-padding-k">
         <%= link_to cocktail_path(cocktail) do %>
        <div class="k-card" style="background-image:
         url('<%= cl_image_path cocktail.photo %>')">
          <div class="k-card-category">Popular
            <div>
              <h2><%= cocktail.name %></h2>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
  </div>
</div>






